<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cuni.mff.nprg021.contacts"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cuni.mff.nprg021.contacts.MainActivity" />
        </activity>
        <activity
            android:name=".ContactDetailActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cuni.mff.nprg021.contacts.MainActivity" />
        </activity>
        <activity android:name=".EditContactActivity"
            android:parentActivityName=".ContactDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cuni.mff.nprg021.contacts.ContactDetailActivity" />
        </activity>
    </application>
</manifest>